<html>
	<head>
	  <!-- Basic Page Needs
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta charset="utf-8">
	  <title>Attendance</title>
	  <meta name="description" content="e mitra gyaan">
	  <meta name="author" content="Arjoonn Sharma">
      <link rel="icon" href="/static/images/favicon.png" type="image/x-icon"/>


	  <!-- Mobile Specific Metas
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	  <!-- FONT
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

	  <!-- CSS
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link rel="stylesheet" href="/static/css/normalize.css">
	  <link rel="stylesheet" href="/static/css/skeleton.css">
	  <link rel="stylesheet" href="/static/css/main.css">

	  <!-- Scripts
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src='/static/main.js'></script>
	</head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='twelve columns'>
                    <b>Attendance</b>  -- [
                    <a href='/'>Home</a> ] - [
                    <a href='#' id='username'>|Anon User|</a> ] - [
                    <a href='#' id='imageupload'>Upload New Image</a> ] - [
                    <a href='#' id='signup'>Signup</a> ] - [
                    <a href='#' id='login'>Login</a> ] - [
                    <a href='#' id='logout'>Logout</a> ]
                </div>
            </div>
        </div>
        <hr>
        <div class='container'>
            <div class='container'>
                <div id = "imageform" class='row'>
                    <form action='/image/upload' method="post" enctype="multipart/form-data" id='imageupload_form'>
                        <input type="file" name="upload" class='six columns'/>
                        <input type='hidden' name='usertoken' value='' id='usertoken'/>
                        <button id='imageuploadbutton' class='two columns'>Upload</button>
                    </form>
                </div>
                <div id = "inputform" class='row'>
                    <input type = "text" id = "name" placeholder = "name" name = "name" class='two columns'>
                    <select id='kind' class='two columns'>
                        <option value='Student'>Student</option>
                        <option value='Teacher'>Teacher</option>
                    </select>
                    <input type = "password" id = "password" name = "upass" placeholder = "********" class='two columns'>
                    <input type='hidden' val='' id='posturl'>
                    <button id='go_button' class='two columns'></button>
                </div>
            </div>
            <div class='container'>
                <h2>Image Gallery</h2><sub> Click on an image to mark/unark it for removal.</sub>
                <hr>
                <div id='gallery' class='row'>
                </div>
                <hr>
                <center> <button id='gallery_button'>Remove marked Images</button></center>
            </div>
            <p>YEAH!</p>
        </div>
    </body>
</html>
